{% extends 'chat/base.html' %}
{% load static %}
{% block content %}
<div class="chat-room">
    <div id="chat-log">
        <p id="header" class="mb-3 font-weight-bold">Connecting to a stranger...</p>
    </div>
    <div id="chat-control" class="d-flex justify-content-between">
        <button class="btn btn-primary mr-1" id="quit-button">Quit <span style="font-size: 10px">ESC</span></button>
        <input type="text" id="chat-input" class="form-control" placeholder="Enter your message" disabled
            autocomplete="off" />
        <button class="btn btn-primary ml-1" id="send-button" disabled>Send</button>
    </div>
</div>
{{ people_online|json_script:'people_online' }}
<script src="{% static 'js/uuid.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock content %}